<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:replace="fragments/head::headFragment"></head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<body>
	
		<header th:replace="fragments/header :: headerFragment"></header>
		<nav th:replace="fragments/nav :: navFragment"></nav>
		<div layout:fragment="content"></div>
		<footer th:replace="fragments/footer :: footerFragment"></footer>
		
	</body>
	
</html>